.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

h1 {
  font-family: var(--font-accent);
  font-size: 36px;
  font-weight: 700;
  color: #536666;
  @include vp-768 {
    font-size: 24px;
  }
}

h2 {
  font-family: var(--font-accent);
  font-size: 24px;
  font-weight: 700;
  color: #536666;
  @include vp-768 {
    font-size: 18px;
  }
}

.link {
  text-decoration: underline !important;
  color: #2f80ed;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-accent);
  transition: all var(--time);
  @include hover {
    color: #0f50a9;
  }
}

.link-btn {
  font-weight: 600;
  font-size: 14px;
  color: #536666;
  transition: color var(--time);
  @include hover {
    color: var(--green);
  }
}

.green-border-btn {
  font-family: var(--font-accent);
  color: var(--green);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px dashed var(--green);
  padding: 10px 13px;
  transition: all var(--time);
  @include hover {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
  }
}

.red-btn {
  font-family: var(--font-accent);
  background-color: var(--red);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 10px 13px;
  border-radius: 4px;
  transition: all var(--time);
  @include hover {
    background-color: var(--red-hover);
  }
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
    z-index: 9;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    border: 1px solid #dfe7e7;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0298 4.46971C13.1704 4.61036 13.2494 4.80109 13.2494 4.99996C13.2494 5.19883 13.1704 5.38957 13.0298 5.53021L7.02982 11.5302C6.88918 11.6708 6.69845 11.7498 6.49957 11.7498C6.3007 11.7498 6.10997 11.6708 5.96932 11.5302L2.96932 8.53021C2.8327 8.38876 2.75711 8.19931 2.75882 8.00266C2.76053 7.80601 2.8394 7.6179 2.97846 7.47885C3.11752 7.33979 3.30562 7.26092 3.50227 7.25921C3.69892 7.2575 3.88837 7.33309 4.02982 7.46971L6.49957 9.93946L11.9693 4.46971C12.11 4.32911 12.3007 4.25012 12.4996 4.25012C12.6984 4.25012 12.8892 4.32911 13.0298 4.46971Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
    }
  }
  input:checked ~ .checkmark {
    background-color: var(--green);
    border-color: var(--green);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}

/*-- Modal Window --*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  backdrop-filter: blur(16px);
  background: rgba(243, 243, 245, 0.6);
  z-index: 9999;
}
.modal-window {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  max-width: 1120px;
  height: 90vh;
  padding: 32px;
  margin: 5vh auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 1px 10px 0px rgba(0, 0, 0, 0.05);
  @media (max-width: 1152px) {
    margin: 5vh 16px;
  }
  @include vp-768 {
    padding: 24px 16px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .modal-window__title {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        min-width: 36px;
        height: 36px;
      }
    }
    .close-modal {
      cursor: pointer;
      height: 35px;
      min-width: 35px;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Crect x='0.5' y='0.5' width='31' height='31' rx='15.5' stroke='%23DFE7E7' /%3E%3Cpath d='M10.5 10.5L21.5 21.5M10.5 21.5L21.5 10.5L10.5 21.5Z' stroke='%23536666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.open {
  display: block;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
