.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.link {
  text-decoration: underline !important;
  color: #2f80ed;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-accent);
  transition: all var(--time);
  @include hover {
    color: #0f50a9;
  }
}

.link-btn {
  font-weight: 600;
  font-size: 14px;
  color: #536666;
  transition: color var(--time);
  @include hover {
    color: var(--green);
  }
}

.green-border-btn {
  font-family: var(--font-accent);
  color: var(--green);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px dashed var(--green);
  padding: 10px 13px;
  transition: all var(--time);
  @include hover {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
  }
}

.red-btn {
  font-family: var(--font-accent);
  background-color: var(--red);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 10px 13px;
  border-radius: 4px;
  transition: all var(--time);
  @include hover {
    background-color: var(--red-hover);
  }
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
    z-index: 9;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    border: 1px solid #dfe7e7;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0298 4.46971C13.1704 4.61036 13.2494 4.80109 13.2494 4.99996C13.2494 5.19883 13.1704 5.38957 13.0298 5.53021L7.02982 11.5302C6.88918 11.6708 6.69845 11.7498 6.49957 11.7498C6.3007 11.7498 6.10997 11.6708 5.96932 11.5302L2.96932 8.53021C2.8327 8.38876 2.75711 8.19931 2.75882 8.00266C2.76053 7.80601 2.8394 7.6179 2.97846 7.47885C3.11752 7.33979 3.30562 7.26092 3.50227 7.25921C3.69892 7.2575 3.88837 7.33309 4.02982 7.46971L6.49957 9.93946L11.9693 4.46971C12.11 4.32911 12.3007 4.25012 12.4996 4.25012C12.6984 4.25012 12.8892 4.32911 13.0298 4.46971Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
    }
  }
  input:checked ~ .checkmark {
    background-color: var(--green);
    border-color: var(--green);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}
