.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.page__wrapper {
  display: flex;
  gap: 16px;
  padding: 24px 32px;
  @include vp-768 {
    padding: 16px;
  }
}
.content {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 280px;
  width: 100%;
  ul {
    background-color: #fff;
    border-radius: 6px;
    padding: 0 15px;
    list-style-type: none;
    margin: 0;
    li {
      &:not(:nth-last-child(1)) {
        border-bottom: 1px solid #dfe7e7;
      }
      a {
        position: relative;
        display: block;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: var(--font-accent);
        font-weight: 600;
        font-size: 16px;
        color: #536666;

        .sidebar__btn-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          .icon {
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #f5fafa;
            border-radius: 2px;
          }
        }
      }
      &.active {
        a {
          color: var(--green);
          svg {
            path {
              stroke: var(--green);
            }
          }
        }
      }
    }
  }
  @include vp-1024 {
    display: none;
  }
}

h1 {
  font-family: var(--font-accent);
  font-size: 36px;
  font-weight: 700;
  color: #536666;
  @include vp-768 {
    font-size: 24px;
  }
}

.page__title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
  flex-wrap: wrap;
  h1 {
    margin-bottom: 0;
  }
}
.page__title {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
  font-family: var(--font-accent);
  font-size: 32px;
  font-weight: 700;
  color: #536666;
  @include vp-768 {
    font-size: 24px;
  }
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12.5' y1='8.5' x2='12.5' y2='6.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.5' y1='7.5' x2='13.5' y2='7.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='8.5' y1='8.5' x2='8.5' y2='6.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='7.5' y1='7.5' x2='9.5' y2='7.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='16.5' y1='8.5' x2='16.5' y2='6.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='15.5' y1='7.5' x2='17.5' y2='7.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='12.5' y1='16.5' x2='12.5' y2='14.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.5' y1='15.5' x2='13.5' y2='15.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='8.5' y1='16.5' x2='8.5' y2='14.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='7.5' y1='15.5' x2='9.5' y2='15.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='16.5' y1='16.5' x2='16.5' y2='14.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='15.5' y1='15.5' x2='17.5' y2='15.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='12.5' y1='4.5' x2='12.5' y2='2.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.5' y1='3.5' x2='13.5' y2='3.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='8.5' y1='4.5' x2='8.5' y2='2.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='7.5' y1='3.5' x2='9.5' y2='3.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='4.5' y1='4.5' x2='4.5' y2='2.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='3.5' y1='3.5' x2='5.5' y2='3.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='12.5' y1='12.5' x2='12.5' y2='10.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.5' y1='11.5' x2='13.5' y2='11.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='16.5' y1='12.5' x2='16.5' y2='10.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='15.5' y1='11.5' x2='17.5' y2='11.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.5' y1='12.5' x2='20.5' y2='10.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='19.5' y1='11.5' x2='21.5' y2='11.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='12.5' y1='20.5' x2='12.5' y2='18.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.5' y1='19.5' x2='13.5' y2='19.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='8.5' y1='20.5' x2='8.5' y2='18.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='7.5' y1='19.5' x2='9.5' y2='19.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='4.5' y1='20.5' x2='4.5' y2='18.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='3.5' y1='19.5' x2='5.5' y2='19.5' stroke='%2333C8BF' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    top: 0;
  }
}

h2 {
  font-family: var(--font-accent);
  font-size: 24px;
  font-weight: 700;
  color: #536666;
  @include vp-768 {
    font-size: 18px;
  }
}

.link {
  text-decoration: underline !important;
  color: #2f80ed;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-accent);
  transition: all var(--time);
  @include hover {
    color: #0f50a9;
  }
}

.link-btn {
  font-weight: 600;
  font-size: 14px;
  color: #536666;
  transition: color var(--time);
  @include hover {
    color: var(--green);
  }
}

.red-link {
  color: var(--red);
  font-family: var(--font-accent);
  font-weight: 600;
  font-size: 18px;
  transition: color var(--time);
  @include hover {
    color: var(--red-hover);
  }
}

.green-border-btn {
  font-family: var(--font-accent);
  color: var(--green);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px dashed var(--green);
  padding: 10px 13px;
  transition: all var(--time);
  @include hover {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
  }
}

.red-btn {
  font-family: var(--font-accent);
  background-color: var(--red);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 10px 13px;
  border-radius: 8px;
  transition: all var(--time);
  &.red-btn--lg {
    padding: 12px 32px;
  }
  @include hover {
    background-color: var(--red-hover);
  }
}
.grey-btn {
  font-family: var(--font-accent);
  background-color: #f5fafa;
  font-size: 16px;
  font-weight: 700;
  color: #536666;
  padding: 8px 20px;
  border-radius: 4px;
  transition: all var(--time);
  opacity: 0.8;
  @include hover {
    opacity: 1;
  }
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
    z-index: 9;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    border: 1px solid #dfe7e7;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 18px;
      width: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0298 4.46971C13.1704 4.61036 13.2494 4.80109 13.2494 4.99996C13.2494 5.19883 13.1704 5.38957 13.0298 5.53021L7.02982 11.5302C6.88918 11.6708 6.69845 11.7498 6.49957 11.7498C6.3007 11.7498 6.10997 11.6708 5.96932 11.5302L2.96932 8.53021C2.8327 8.38876 2.75711 8.19931 2.75882 8.00266C2.76053 7.80601 2.8394 7.6179 2.97846 7.47885C3.11752 7.33979 3.30562 7.26092 3.50227 7.25921C3.69892 7.2575 3.88837 7.33309 4.02982 7.46971L6.49957 9.93946L11.9693 4.46971C12.11 4.32911 12.3007 4.25012 12.4996 4.25012C12.6984 4.25012 12.8892 4.32911 13.0298 4.46971Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
    }
  }
  input:checked ~ .checkmark {
    background-color: var(--green);
    border-color: var(--green);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}

.label {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: 14px;
  color: #8f9d9d;
  @include vp-768 {
    font-size: 12px;
  }
}

// Tabs
.tabs__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .tabs-tags {
    display: flex;

    &__tag {
      background-color: #fff;
      padding: 10px 24px;
      cursor: pointer;

      font-family: var(--font-accent);
      font-size: 16px;
      font-weight: 600;
      color: #6f727a;
      &.active {
        color: #fff;
        background-color: var(--green);
      }
      &:nth-child(1) {
        border-radius: 6px 0 0 6px;
      }
      &:nth-child(2) {
        border-radius: 0 6px 6px 0;
      }
      @include vp-768 {
        padding: 10px 16px;
      }
    }
  }

  .note {
    display: flex;
    align-items: center;
    gap: 8px;
    .icon {
      background-color: #fff;
      border-radius: 6px;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text {
      color: #536666;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
// Tabs

.page__table {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &-item {
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include vp-768 {
      padding: 16px 8px;
    }
    @media (max-width: 650px) {
      grid-template-columns: 200px auto;
      column-gap: 8px;
      row-gap: 16px;
    }
  }
  &-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    > button {
      position: relative;
      .delete__button {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
  &_info_flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_info_block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .text {
      color: #536666;
      font-weight: 500;
      font-size: 16px;
      &.text-accent {
        color: var(--green);
      }
      @include vp-768 {
        font-size: 14px;
      }
    }
    @media (max-width: 650px) {
      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
}

.content__buttons {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @include vp-768 {
    flex-direction: column;
    align-items: flex-start;
  }
  .person__cards_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    @include vp-768 {
      width: 100%;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .person__card {
      display: flex;
      gap: 16px;

      max-width: 280px;
      min-width: 230px;
      width: 100%;
      background-color: #fff;
      cursor: pointer;
      border: 1px solid #fff;
      transition: all var(--time);
      border-radius: 6px;
      padding: 8px 16px;

      @include hover {
        border-color: var(--green);
      }

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 6px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: flex;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .name {
          color: #536666;
          font-weight: 600;
          font-size: 16px;
          font-family: var(--font-accent);
        }
        .age {
          color: rgba(76, 86, 88, 0.75);
          font-size: 12px;
          font-weight: 600;
        }
      }
      &.active {
        background-color: var(--green);
        border-color: var(--green);
        .name {
          color: #fff;
        }
        .age {
          color: #fff;
        }
      }
    }
  }
  button {
    padding: 12px 32px;
    border-radius: 8px;
    &.hide {
      display: none;
    }
  }
}
