:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "Raleway", sans-serif;

  --page-bg: #f5fafa;
  --text-color: #000;

  --green: #00aaa0;
  --green-hover: #3bc9c7;
  --red: #d53863;
  --red-hover: #f2638a;

  --time: 0.2s ease-in-out;
}
$vp-320: 320px;
$vp-375: 375px;
$vp-500: 500px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
