.request__table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      background-color: #fff;
      border-radius: 6px 6px 0 6px;
      padding: 24px;

      > .item {
        flex-basis: 18%;
      }
      .item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .text {
          color: #536666;
          font-weight: 500;
          font-size: 16px;
          &.text-accent {
            color: var(--green);
          }
          &.text-nowrap {
            white-space: nowrap;
          }
          @include vp-768 {
            font-size: 14px;
          }
        }
      }

      .status {
        font-weight: 600;
        font-size: 16px;
        font-family: var(--font-accent);
        color: var(--red);
        &.status_confirmed {
          display: none;
          position: relative;
          font-size: 16px;
          padding-right: 25px;
          color: var(--green);
          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7071 6.29289C20.0976 6.68342 20.0976 7.31658 19.7071 7.70711L10.4142 17C9.63316 17.7811 8.36683 17.781 7.58579 17L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L18.2929 6.29289C18.6834 5.90237 19.3166 5.90237 19.7071 6.29289Z' fill='%2300AAA0'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }

      .flex-item {
        flex-basis: 43%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        @include vp-768 {
          display: contents;
        }
      }

      @media (max-width: 1400px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
      }
      @include vp-768 {
        padding: 16px 8px;
      }
    }

    &-buttons {
      display: flex;
      button {
        width: 200px;
        height: 48px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        font-family: var(--font-accent);
        transition: all var(--time);
        @include vp-768 {
          width: 164px;
        }
        &.white-btn {
          background-color: #fff;
          color: var(--green);
          border-radius: 0 0 0 6px;
          @include hover {
            color: var(--green-hover);
          }
        }
        &.green-btn {
          background-color: var(--green);
          color: #fff;
          border-radius: 0 0 6px 0;
          @include hover {
            background-color: var(--green-hover);
          }
        }
      }
    }
  }
}
