.result {
  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    &-item {
      font-size: 18px;
      font-family: var(--font-accent);
      font-weight: 400;
      color: #536666;
      cursor: pointer;

      padding: 8px 16px;
      background-color: #fff;
      border-radius: 100px;
      transition: all var(--time);
      @include vp-768 {
        padding: 8px;
      }
      &.active {
        background-color: var(--green);
        color: #fff;
      }
    }
  }
  &__content {
    margin-top: 16px;
  }
  &__table {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #fff;
      padding: 16px;
      border-radius: 6px;
      &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .text {
            color: #536666;
            font-weight: 500;
            font-size: 16px;
            @include vp-768 {
              font-size: 14px;
            }
          }
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: 1px;
        .item {
          background-color: #f5fafa;
          padding: 12px 16px;
          border-radius: 6px;
          @include vp-768 {
            padding: 12px 8px;
          }
          .text {
            color: #536666;
            font-weight: 500;
            font-size: 16px;
            @include vp-768 {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
