/*-- Modal Window --*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  backdrop-filter: blur(16px);
  background: rgba(243, 243, 245, 0.6);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.modal-window {
  position: relative;
  background-color: #fff;
  border-radius: 12px;

  padding: 32px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 1px 10px 0px rgba(0, 0, 0, 0.05);
  @media (max-width: 1152px) {
    margin: 5vh 16px;
  }
  @include vp-768 {
    padding: 24px 16px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .modal-window__title {
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        min-width: 24px;
        height: 24px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .close-modal {
      position: relative;
      cursor: pointer;
      height: 35px;
      min-width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dfe7e7;
      border-radius: 200px;
      transition: all var(--time);
      overflow: hidden;
      .core {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
      }
      path {
        transform: all var(--time);
      }
      @include hover {
        border-color: var(--green);
        background-color: var(--green);
        path {
          transform: stroke var(--time);
          stroke: #fff;
        }
      }
    }
  }
}
.open {
  display: flex;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

// agreement

.agreement {
  max-width: 1120px;
  .modal-window__title {
    display: flex;
    align-items: center;
    gap: 15px;
    span {
      min-width: 36px;
      height: 36px;
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
  .modal-content {
    height: 73vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include vp-1024 {
      height: 69vh;
    }
    @include vp-768 {
      height: 67vh;
    }
    p {
      color: #536666;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: var(--font-main);
      a {
        font-family: var(--font-main);
        text-decoration: underline;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #536666;
      }
    }
    ul {
      padding-left: 20px;
      li {
        list-style-type: disc;
        color: #536666;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: var(--font-main);
      }
    }
  }
}
// agreement

// call_back
.call_back {
  max-width: 600px;

  .text {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 16px;
    color: #8f9d9d;
  }

  &-form {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @include vp-500 {
      grid-template-columns: 1fr;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .label {
        color: #536666;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-accent);
      }
      input,
      textarea {
        border: 1px solid #dfe7e7;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        color: #536666;
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 16px;
        &::placeholder {
          color: #8f9d9d;
        }
      }
      input {
        padding: 12px 16px;
      }
      textarea {
        padding: 8px 16px;
        height: 120px;
        resize: none;
      }
    }
    .textarea {
      grid-row: 2/3;
      grid-column: 1/3;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
    }
    &-buttons {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
      button {
        flex-basis: calc(50% - 8px);
        color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          color: var(--green-hover);
        }
      }
      input {
        flex-basis: calc(50% - 8px);
        color: #fff;
        background-color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          background-color: var(--green-hover);
        }
      }
    }
  }
}
// call_back

// tax_modal
.tax_modal {
  max-width: 800px;
  width: 100%;

  .text {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 16px;
    color: #8f9d9d;
  }

  &-form {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .label {
        color: #536666;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-accent);
      }
      input,
      textarea {
        border: 1px solid #dfe7e7;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        color: #536666;
        font-weight: 400;
        font-size: 16px;
        &::placeholder {
          color: #8f9d9d;
        }
      }
      input {
        padding: 12px 16px;
      }
      textarea {
        padding: 8px 16px;
        height: 120px;
        resize: none;
      }
    }
    .full-width {
      grid-column: 1/3;
    }
    .textarea {
      grid-row: 4/5;
      grid-column: 1/3;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
    }
    &-buttons {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
      button {
        flex-basis: calc(50% - 8px);
        color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          color: var(--green-hover);
        }
      }
      input {
        flex-basis: calc(50% - 8px);
        color: #fff;
        background-color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          background-color: var(--green-hover);
        }
      }
    }
    @include vp-500 {
      grid-template-columns: 1fr;
      label {
        grid-column: 1/2;
      }
    }
  }
}
// tax__modal

// add_data
.add_data {
  max-width: 800px;
  width: 100%;

  .text {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 16px;
    color: #8f9d9d;
  }

  &-form {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @include vp-500 {
      grid-template-columns: 1fr;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .label {
        color: #536666;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-accent);
      }
      input,
      textarea {
        border: 1px solid #dfe7e7;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        color: #536666;
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 16px;
        &::placeholder {
          color: #8f9d9d;
        }
      }
      input {
        padding: 12px 16px;
      }
      textarea {
        padding: 8px 16px;
        height: 120px;
        resize: none;
      }
      @include vp-500 {
        grid-column: 1/2;
      }
    }
    .textarea {
      grid-row: 2/3;
      grid-column: 1/3;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
    }
    &-buttons {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
      button {
        flex-basis: calc(50% - 8px);
        color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          color: var(--green-hover);
        }
      }
      input {
        flex-basis: calc(50% - 8px);
        color: #fff;
        background-color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          background-color: var(--green-hover);
        }
      }
    }
  }
}
.input-file-row {
  grid-column: 1/3;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  @include vp-500 {
    grid-column: 1/2;
  }
  .input-file {
    position: relative;
    display: inline-block;
  }
  .input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    color: #2f80ed;
    font-size: 16px;
    font-weight: 600;
  }
  .input-file input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  .input-file-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    background-color: #f5fafa;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &:empty {
      padding: 0;
      background-color: transparent;
      margin-bottom: -16px;
    }
    &-name {
      color: #536666;
      font-weight: 500;
      font-size: 16px;
    }
    a {
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.5V17.5M14 11.5V17.5M4 7.5H20M19 7.5L18.133 19.642C18.0971 20.1466 17.8713 20.6188 17.5011 20.9636C17.1309 21.3083 16.6439 21.5 16.138 21.5H7.862C7.35614 21.5 6.86907 21.3083 6.49889 20.9636C6.1287 20.6188 5.90292 20.1466 5.867 19.642L5 7.5H19ZM15 7.5V4.5C15 4.23478 14.8946 3.98043 14.7071 3.79289C14.5196 3.60536 14.2652 3.5 14 3.5H10C9.73478 3.5 9.48043 3.60536 9.29289 3.79289C9.10536 3.98043 9 4.23478 9 4.5V7.5H15Z' stroke='%23EB5757' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      height: 24px;
      width: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .input-file-list-remove {
    color: red;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
  }
}

// add_data

.succes-modal {
  max-width: 480px;
  width: 100%;
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .text {
      max-width: 80%;
      font-family: var(--font-accent);
      color: #8f9d9d;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 21.13px;
    }
    .succes__image {
      width: 128px;
      height: 128px;
    }
    .green-btn {
      background-color: var(--green);
      transition: all var(--time);
      color: #fff;
      padding: 12px 0;
      width: 100%;
      text-align: center;
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      font-family: var(--font-accent);
      @include hover {
        background-color: var(--green-hover);
      }
    }
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='32' height='50' viewBox='0 0 32 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='20.6445' y1='3.99438' x2='20.6445' y2='0.500021' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='2.30859' x2='22.3413' y2='2.30859' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='29.8027' y1='3.99438' x2='29.8027' y2='0.500021' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='27.9766' y1='2.30859' x2='31.4995' y2='2.30859' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.6445' y1='21.9709' x2='20.6445' y2='18.4766' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='20.2861' x2='22.3413' y2='20.2861' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.4844' y1='21.9709' x2='11.4844' y2='18.4766' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='9.6582' y1='20.2861' x2='13.1812' y2='20.2861' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='2.32617' y1='21.9709' x2='2.32617' y2='18.4766' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='0.5' y1='20.2861' x2='4.02296' y2='20.2861' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.6445' y1='12.9824' x2='20.6445' y2='9.48806' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='11.2969' x2='22.3413' y2='11.2969' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.6445' y1='30.96' x2='20.6445' y2='27.4656' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='29.2744' x2='22.3413' y2='29.2744' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.6445' y1='40.3984' x2='20.6445' y2='36.9041' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='38.7129' x2='22.3413' y2='38.7129' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='20.6445' y1='49.5' x2='20.6445' y2='46.0056' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='18.8184' y1='47.8145' x2='22.3413' y2='47.8145' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='2.32812' y1='3.99414' x2='2.32812' y2='0.499777' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='0.5' y1='2.30859' x2='4.02296' y2='2.30859' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='29.8047' y1='21.9707' x2='29.8047' y2='18.4763' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='27.9766' y1='20.2861' x2='31.4995' y2='20.2861' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='29.8027' y1='12.9824' x2='29.8027' y2='9.48806' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='27.9766' y1='11.2969' x2='31.4995' y2='11.2969' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='29.8027' y1='30.96' x2='29.8027' y2='27.4656' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='27.9766' y1='29.2744' x2='31.4995' y2='29.2744' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='29.8027' y1='40.3984' x2='29.8027' y2='36.9041' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='27.9766' y1='38.7129' x2='31.4995' y2='38.7129' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.4863' y1='3.99414' x2='11.4863' y2='0.499777' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='9.65918' y1='2.30859' x2='13.1821' y2='2.30859' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.4863' y1='12.9824' x2='11.4863' y2='9.48806' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='9.6582' y1='11.2969' x2='13.1812' y2='11.2969' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='2.32812' y1='12.9824' x2='2.32812' y2='9.48806' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='0.5' y1='11.2969' x2='4.02296' y2='11.2969' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='11.4863' y1='30.96' x2='11.4863' y2='27.4656' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='9.6582' y1='29.2744' x2='13.1812' y2='29.2744' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='2.32812' y1='30.96' x2='2.32812' y2='27.4656' stroke='%2333C8BF' stroke-linecap='round'/%3E%3Cline x1='0.5' y1='29.2744' x2='4.02296' y2='29.2744' stroke='%2333C8BF' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      position: absolute;
      top: 90px;
      left: 76px;
    }
  }
}
#succes_tax_modal,
#succes_add_data {
  .modal-content {
    &::before {
      top: 30px !important;
      left: 50px;
    }
  }
}

// feedback_modal
.feedback_modal {
  max-width: 800px;
  width: 100%;

  .doctor {
    display: flex;
    align-items: center;
    gap: 16px;
    &__avatar {
      border-radius: 6px;
      overflow: hidden;
      width: 64px;
      height: 64px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &-name {
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 18px;
        color: #536666;
        @include vp-768 {
          font-size: 16px;
        }
      }
      &-job {
        font-family: var(--font-accent);
        font-weight: 600;
        font-size: 16px;
        color: #8f9d9d;
        @include vp-768 {
          font-size: 14px;
        }
      }
    }
    @include vp-768 {
      gap: 8px;
    }
  }

  .text {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 16px;
    color: #8f9d9d;
  }

  &-form {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @include vp-500 {
      grid-template-columns: 1fr;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .label {
        color: #536666;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-accent);
      }
      input,
      textarea {
        border: 1px solid #dfe7e7;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        color: #536666;
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 16px;
        &::placeholder {
          color: #8f9d9d;
        }
      }
      input {
        padding: 12px 16px;
      }
      textarea {
        padding: 8px 16px;
        height: 120px;
        resize: none;
      }
    }
    .textarea {
      grid-row: 2/3;
      grid-column: 1/3;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
    }
    &-buttons {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      @include vp-500 {
        grid-row: auto;
        grid-column: 1/2;
      }
      button {
        flex-basis: calc(50% - 8px);
        color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          color: var(--green-hover);
        }
      }
      input {
        flex-basis: calc(50% - 8px);
        color: #fff;
        background-color: var(--green);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 8px;
        transition: all var(--time);
        @include hover {
          background-color: var(--green-hover);
        }
      }
    }
  }
  .hide {
    display: none;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label,
  .rating > input.radio-btn:checked ~ label {
    svg {
      path {
        fill: #d53863;
      }
    }
  }
}
// feedback_modal
