@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Base */
@import "./base/reset";
@import "./base/mixins";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";
@import "./pages/*.scss";

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
.dropdown a {
  position: relative;
  background-color: #fff;
  display: block;
  padding: 12px 16px;
  border: 1px solid #dfe7e7;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  .hida,
  .multiSel {
    color: #536666;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-accent);
  }
  &::before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8337 7.5L10.0003 13.3333L4.16699 7.5' stroke='%236F727A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 16px;
    top: 12px;
  }
}
.dropdown .mutliSelect {
  position: relative;
}
.dropdown ul {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #dfe7e7;
  background-color: #fff;
  z-index: 10;

  display: none;

  position: absolute;
  left: 0px;
  top: 8px;
  width: 100%;
  list-style: none;
  overflow: auto;
  min-height: 50px;
  width: 100%;
  max-height: 300px;
  .search {
    position: relative;
    > input {
      margin-bottom: 16px;
      padding: 12px 16px;
      border: 1px solid #dfe7e7;
      border-radius: 8px;
      width: 100%;

      color: #536666;
      font-size: 16px;
      font-weight: 400;
      font-family: var(--font-accent);
    }
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 4.00003C6.93913 4.00003 5.92172 4.42146 5.17157 5.17161C4.42143 5.92175 4 6.93917 4 8.00003C4 9.0609 4.42143 10.0783 5.17157 10.8285C5.92172 11.5786 6.93913 12 8 12C9.06087 12 10.0783 11.5786 10.8284 10.8285C11.5786 10.0783 12 9.0609 12 8.00003C12 6.93917 11.5786 5.92175 10.8284 5.17161C10.0783 4.42146 9.06087 4.00003 8 4.00003ZM2 8.00003C1.99988 7.05574 2.22264 6.12475 2.65017 5.28278C3.0777 4.4408 3.69792 3.71163 4.4604 3.15456C5.22287 2.59749 6.10606 2.22825 7.03815 2.07687C7.97023 1.92549 8.92488 1.99625 9.82446 2.28338C10.724 2.57052 11.5432 3.06594 12.2152 3.72933C12.8872 4.39272 13.3931 5.20537 13.6919 6.10117C13.9906 6.99697 14.0737 7.95063 13.9343 8.88459C13.795 9.81855 13.4372 10.7064 12.89 11.476L17.707 16.293C17.8892 16.4816 17.99 16.7342 17.9877 16.9964C17.9854 17.2586 17.8802 17.5094 17.6948 17.6949C17.5094 17.8803 17.2586 17.9854 16.9964 17.9877C16.7342 17.99 16.4816 17.8892 16.293 17.707L11.477 12.891C10.5794 13.5293 9.52335 13.9082 8.42468 13.9862C7.326 14.0641 6.22707 13.8381 5.2483 13.333C4.26953 12.8279 3.44869 12.0631 2.87572 11.1224C2.30276 10.1817 1.99979 9.10147 2 8.00003Z' fill='%23536666'/%3E%3C/svg%3E%0A");
      position: absolute;
      right: 16px;
      top: 12px;
    }
  }
  li {
    padding: 8px;
    color: #536666;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-accent);

    .checkbox {
      display: inline-flex;
      align-items: center;
      margin-right: 14px;
      margin-bottom: -3px;
    }

    &:not(:nth-last-child(1)) {
      margin-bottom: 16px;
    }
    &:has(.checkbox):has(input:checked) {
      background-color: #f5fafa;
    }
  }
}
.dropdown span.value {
  display: none;
}
.dropdown ul li a {
  padding: 5px;
  display: block;
}
.dropdown ul li a:hover {
  background-color: #fff;
}
